.inq-numb-header{
    width: 4vw;
}
.inq-date-header{
    width: 15vw;
}
.inq-name-header{
    width: 12vw;
}
.inq-inquiryId-header{
    width: 12vw;
}
.inq-mail-header{
    width: 15vw;
}
.inq-contact-header{
    width: 15vw;
}
.inq-status-header{
    width: 5vw;
}
.inq-response-header{
    width: 10vw;
}