    .sidebar-item{
        display: flex;
        align-items: center;
        margin: 0;
        text-decoration: none;
    }
    .sidebar-item.sub-menu .sidebar_menu {
        font-size: 13px;
        font-weight: bold;
        margin-left: 5px;
        color: rgb(46, 2, 176);
    }
    .sidebar_menu{
        font-size: 17px;
        width: 10vw;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        color: gray;
        text-decoration: none;
        border-radius: 8px;
    }
    .sidebar_menu:hover{
        background-color: rgb(208, 208, 208);
    }