.member_container {
    width: 90vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 244, 244);
  }
  
  .member_box {
    width: 86vw;
    height: 88vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  .member_button {
    height: 8vh;
    display: flex;
    flex: row;
    align-items: center;
  }
  
  .member_title {
    font-weight: bolder;
    font-size: larger;
    margin: 0 40px;
  }
  
  .member_chart {
    height: 72vh;
    width: 86vw;
    background-color: rgb(207, 207, 207);
  }
  .memberTable_scroll{
    height: 74vh;
    overflow-y: auto;
  }
  
  .table {
    width: 100%; /* 테이블이 부모 컨테이너를 가득 채움 */
    border-collapse: collapse; /* 테두리 겹침 방지 */
  }
  
  th, td {
    text-align: center;
    padding: 15px; /* 셀 내부 여백 */
    border-bottom: 1.5px solid rgb(208, 208, 208); /* 행 간 구분선 */
  }
  
  .name-header {
    width: 6vw;
  }
  
  .number-header {
    width: 8vw;
  }
  
  .faculty-header {
    width: 13vw;
  }
  
  .mail-header {
    width: 12vw;
  }
  
  .contact-header {
    width: 15vw;
  }
  
  .alert-header {
    width: 24vw;
  }
  
  .search_member {
    border-radius: 5px;
    border: solid 0.2px black;
    position: absolute;
    width: 10vw;
    right: 4vw;
    height: 4vh;
  }
  
  .member_notify_button {
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
  }
  
  .member_notify_button:hover {
    background-color: rgb(238, 238, 238);
  }
  
  /* Modal Styles */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 5vh;
  }
  
  .modal-body {
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
  
  .modal-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
  }
  
  .modal-label {
    font-weight: bold;
    width: 80px;
  }
  
  .modal-data {
    flex-grow: 1;
  }
  
  .modal-input {
    width: calc(100% - 80px);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-input[type="text"] {
    height: 30px;
  }
  .modal-textarea {
    width: calc(100% - 80px);
    height: 30vh; /* 내용 입력 박스의 높이를 키움 */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-send-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .modal-send-button:hover {
    background-color: #45a049;
  }