.addition_container{
    width: 90vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 208, 208);
}
.addition_box{
    width: 40vw;
    height: 88vh;
    background-color: white;
}
.addition_banner{
    height: 8vh;
    display: flex;
    flex: row;
    align-items: center;
}
.addition_title{
    font-weight: bolder;
    font-size: larger;
    margin: 0 20px;
}
.blank{
    width: 3vw;
}
.addition_chart{
    width: 40vw;
    height: 75vh;
    overflow-y: auto;
    background-color: rgb(141, 141, 141);
}
.popup_class {
    position: fixed; /* 고정된 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgb(218, 218, 218);
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;

}
.popup_room {
    position: fixed; /* 고정된 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgb(218, 218, 218);
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;

}

.popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.popup_inner_banner{
    display: flex;
    flex-direction: row ;
}
.popup_inner_banner_back{
    background-color: transparent;
    border: none;
    margin-left: 9vw;
}
.popup_inner_box{
    display: flex;
    flex-direction: row;
}
.popup_inner_input_image{
    display: flex;
    flex-direction: column;
}
.image_preview {
    height: 35vh;
    width: 20vw;
    max-width: 100%;
    max-height: 150px; /* 최대 높이 설정 */
    margin-bottom: 10px;
    object-fit: contain; /* 이미지가 왜곡되지 않도록 조정 */
    background-color: transparent;
}
.chart_element_image {
    padding: 1vw;
    width: 20vw; /* 이미지 컨테이너의 너비를 100%로 설정 */
    height: 200px; /* 고정된 높이 설정, 필요에 따라 조절 가능 */
    overflow: hidden; /* 이미지가 div 크기를 넘어갈 때 숨김 처리 */
}
.roomImage_preview {
    width: 100%; /* 이미지 너비를 부모 컨테이너에 맞춤 */
    height: 100%; /* 이미지 높이를 부모 컨테이너에 맞춤 */
    object-fit: cover; /* 비율을 유지하면서 컨테이너를 가득 채우도록 조정 */
}
.addition_chart ul {
    list-style-type: none; /* 리스트 아이템 앞의 불릿을 제거 */
    padding: 0;
    margin: 0;
}

.addition_chart li {
    margin-bottom: 20px; /* 리스트 아이템 간의 간격 */
    border-bottom: 1px solid #ccc; /* 아래쪽에 경계선 추가 */
    padding-bottom: 10px; /* 경계선 아래쪽 패딩 */
}

.addition_chart p {
    margin: 5px 0; /* 각 문단 사이의 마진 조정 */
}
.addition_chart_element{
    width: 40vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    background-color: beige;
}
.chart_element_data{
    width: 20vw;
    height: 35vh;
    padding: 1vw;
}