.main-content {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 93vh;
}

.calendar_box {
    width: 50vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center; /* 달력을 세로 중앙에 배치 */
}

.calendar_show {
    width: 40vw;
    overflow-y: auto;
    background-color: #f4f4f4;
    padding: 20px;
}

/* 달력 컴포넌트에 대한 스타일 추가 */
.react-calendar {
    width: 100%;
    height: 100%; /* 부모 컨테이너에 맞춰서 크기 조정 */
    max-width: none; /* 필요한 경우 최대 너비 제한 해제 */
}