body {
    font-family: Arial, sans-serif;
}

/* 메인 컨테이너 설정 */
.calendar_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar {
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 90vh;
    border: none;
    font-size: 1.2em;
}

/* 팝업 스타일 설정 */
.react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-modal-content {
    position: relative;
    width: 80%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}

.react-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

/* 테이블 스타일 설정 */
.calendar_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.reserve-type, .reserve-room, .reserve-time, .reserve-name, .reserve-email {
    width: 20%;
}

.react-modal-close {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.react-modal-close:hover {
    background-color: #0056b3;
}