.cameraTable_num{
    width: 8vw;
}
.cameraTable_locationName{
    width: 15vw;
}
.cameraTable_location{
    width: 15vw;
}
.cameraTable_status{
    width: 8vw;
}
.cameraTable_manage{
    width: 35vw;
}
.popup_camera_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
.popup_camera{
    position: fixed; /* 고정된 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgb(242, 242, 242);
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    z-index: 1050;
}
.traffic_button{
    position: absolute;
    right: 6vw;
    height: 6vh;
    width: 10vw;
    border-radius: 8px;
    border: 1.5px solid black;
    background-color: transparent;
}
.traffic_button:hover {
    background-color: rgb(238, 238, 238);
}
.traffic_add_button{
    position: absolute;
    bottom: 3vh;
    width: 20vw ;
    height: 5vh;
    color: white;
    font-weight: bold;
    background-color: #004f9e;
    border: 1px solid #004F9E;
    border-radius: 5px;
}
.traffic_add_button:hover{
    background-color: #004f9e74;
}
.popup_traffic_banner_back{
    background-color: transparent;
    border: none;
    margin-left: 8vw;
    font-weight: bolder;
}
.traffic_delete_button{
    width: 9vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    background-color: transparent;
    font-weight: bold;
}
.traffic_delete_button:hover {
    background-color: rgba(244, 4, 4, 0.108);
}
.popup_camera{
    width: 20vw;
    height: 60vh;
    background-color: white;
}
.camera_input_data{
    border: none;
    width: 15vw;
    height: 6vh;
    border-bottom: 1px solid transparent;
    border-radius: 1px;
    background-color: rgba(187, 187, 187, 0.165);
}
.camera_input_data:focus{
    outline: none;
    border: 1px solid #004F9E;
}
.camera_input_title{
    font-size: 2vh;
    font-weight: bold;
}