<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team Member</h2>
                <h3 class="section-subheading text-muted">2024 캡스톤 디자인 26팀</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/안수현.jpg" class="img-responsive img-circle" alt="">
                    <h4>안수현(팀장)<br/></h4>
                    <p class="text-muted">ID: 20191621</p>
                    <p class="text-muted">Position: Frontend, Backend</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/정일형.jpg" class="img-responsive img-circle" alt="">
                    <h4>정일형<br/></h4>
                    <p class="text-muted">ID: 20195303</p>
                    <p class="text-muted">Position: Frontend</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/정의석.jpg" class="img-responsive img-circle" alt="">
                    <h4>정의석<br/></h4>
                    <p class="text-muted">ID: 20203134</p>
                    <p class="text-muted">Position: Backend</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/이재훈.jpg" class="img-responsive img-circle" alt="">
                    <h4>이재훈<br/></h4>
                    <p class="text-muted">ID: 20213053</p>
                    <p class="text-muted">Position: AI</p>
                </div>
            </div>
        </div>
    </div>
</section>
